@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair {
    font-family: 'Playfair Display', serif;
}

a {
    border-bottom: 1px solid white;
}

a:hover {
    border-bottom: 2px solid #C792DF;
    transition: 0.25s;
}